body{
	margin:0px;
	padding:0px;
	font-family: sans-serif;
}
#welcome{
	padding: 0px;
	margin: 0px;
	text-align: center;
	background: skyblue;
}
.btn{
	font-size: 20px;
	color: white;
	background: blue;
	text-decoration: none;
}

#login
{
	border: 1px solid black;
	border-radius: 10px;
	background: #c3c5c2;
	font-size: 20px;
	height: auto;
	width:500px;
	text-align: center;
	padding: 20px;

}
#registration
{
	border: 1px solid black;
	border-radius: 10px;
	background: #c3c5c2;
	font-size: 20px;
	height: auto;
	width:500px;
	text-align: center;
	padding: 20px;

}
.msg{
	background: skyblue;
	color: white;
	border: 2px solid white;
	border-radius: 10px;
}
#footer{
	border: 2px solid skyblue;
	height: 4px;
    clear: both;
    z-index: 10;
    height: 3em;

}
